@model WhatsUp.Models.Input_Models.ContactModel

@{
    ViewBag.Title = "Add Contact";
}

<h2>Add Contact</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary()
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.ContactName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control" } })                
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@Html.ActionLink("Look for existing contacts", "PhoneBook", "Contact")


<div>
    @Html.ActionLink("Back to List", "Index", "Contact", new { @class = "stickToBottom" })
</div>
